<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Tu landing page</title>
    <link rel="stylesheet" th:href="@{/css/landing.css}" />
</head>
<body>
<div class="layoutContainer">
    <div class="header BackgroundContainerHeader">
        <div class="header">
            <div class="ContainerHeader">
                <img class="RestauranteIcono" src="/img/logorest.png" alt="Icono Restaurante">
                <div class="TitleContainer">
                    <h1 class="Nanita">Nanita</h1>
                    <h2 class="Plaza">Plaza</h2>
                </div>
            </div>
        </div>
    </div>

    <div class="main">
        <!-- Contenido principal de tu landing -->
        <h2>Contenido principal</h2>
        <p>Aquí puedes agregar el contenido que deseas mostrar en tu landing page.</p>
    </div>

    <div class="footer">
        <!-- Pie de página -->
        <p>Pie de página</p>
    </div>
</div>
</body>
</html>
